bodbody{
color: #0c5eb6 ;
background-color: ;
margin: 0px;
margin-bottom: 100px;
}

header{
    border-bottom: solid 2px #2283c4 ;
    margin: 20px;
    font-size: 32px;
    color: rgb(71, 62, 184);
}


section{
     
padding-bottom: 80px;
padding-top: 80px;
background: rgb(57, 133, 184);
display: flex;
justify-content: center;
}


h1{
color:#293496 ;
font-size: 40px;
}

p{
    font-size: 20px;
}

.categoria{

padding-left: 20px;
padding-right: 20px;

}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

img{

    height: 200px;
}
.categoria-videos img:hover{
opacity:1.0;
border: 3px solid #2c6ec5;

}

.categoria h2{
color: #1f38c4;

}



.chamada-texto{
    margin-right: 1%;
    text-align: center;
    padding: 20px;
    background-color: #0c0c0c;
    