
body {
    background-color: #0c5eb6;
    margin: 0;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px #2283c4;
    margin: 20px;
    font-size: 32px;
    color: rgb(71, 62, 184);
    text-align: center;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
    background: rgb(57, 133, 184);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #293496;
    font-size: 40px;
}

p {
    font-size: 20px;
    color: white;
}

.chamada-texto {
    margin-right: 1%;
    text-align: center;
    padding: 20px;
    background-color: #598dee;
    border-radius: 10px;
    max-width: 800px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 20px;
}

.categoria-videos img {
    height: 200px;
    transition: transform 0.3s, border 0.3s;
    border-radius: 8px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid #2c6ec5;
    transform: scale(1.05);
}

.categoria-videos a {
    flex-shrink: 0;
}

footer {
    text-align: center;
    padding: 20px;
    color: rgb(176, 214, 240);
    background-color: #1f38c4;
}

h2 {
    color: #1f38c4;
    text-align: center;
    font-size: 28px;
}
